tool/commonapi-generator/configuration/
tool/commonapi_dbus_generator/configuration/
*.o
*/*.o
*/*.moc
*/moc_*.cpp
*/moc_*.h
*.moc
moc_*.cpp
moc_*.h
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*/*.pro.user
*/*.pro.user.*
*/*.qbs.user
*/*.qbs.user.*
*/ProxyImpl
*/StubImpl
*/core
*/qrc_qml.cpp

